{% extends "base.html" %}
{% block title %} Add New Book {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                <h3 class="text-center">Assign Book to User</h3>

                <div class="form-group">
                    <label for="book_id">Select Book:</label>
                    <select id="book_id" name="book_id" class="form-control">
                        {% for book in books %}
                        <option value="{{ book.id }}">{{ book.title }} [Available: {{ book_data[book.id].2 }}] </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="user_id">Select User:</label>
                    <select id="user_id" name="user_id" class="form-control">
                        {% for user in users %}
                        <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Assign Book</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
