{% extends "base.html" %}
{% block title %}User Details{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>User Details</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>User ID</th>
                        <th>Book Title</th>
                        <th>Issue Date</th>
                        <th>Lease Time</th>
                        <th>Total Fines</th>
                        <th>Total Charge Fee</th>
                        <th>Total Amount</th>
                        <th>Receive Back</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_order in user_orders %}
                    <tr>
                        <td> {{ user_order.order_id }}</td>
                        <td>{{ user_order.user_id }}</td>
                        <td>{{ user_order.book_title }}</td>
                        <td>{{ user_order.issue_date }}</td>
                        <td>{{ user_order.lease_time }}</td>
                        <td>{{ user_order.total_fine }}</td>
                        <td>{{ user_order.total_charge_fee }}</td>
                        <td>{{ user_order.total_amount }}</td>
                        <td><a href="/get_order_details/{{ user_order.book_id }}/{{ user_order.user_id }}/">Receive</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}